<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="apple-moblie-web-app-capable" content="yes">
		<meta name="apple-moblie-web-app-title" content="韩方科颜">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="Keywords" content="韩方科颜祛痘,祛痘美容,祛痘美容治疗,祛痘哪家好">
		<meta name="Description" content="韩方科颜经过多年的发展，形成了以专业祛痘项目为基础，涵盖祛疤、淡斑、激素脸修复、皮肤赘生物清除、水光嫩肤等美容项目，为加盟商提供强大的技术和丰富的经验支持，">
		<title>韩方科颜母亲节特别策划活动</title>
        <script>
             !function(){
                if(location.href.indexOf("?code=")==-1 || /MicroMessenger/i.test(navigator.userAgent) == false) {
                    var appId = "wxad232bc511391522";
                    var url = encodeURIComponent("http://m.rok0769.com/wx/mothersday/index.html"+location.hash);
                    //location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+appId+"&redirect_uri="+url+"&response_type=code&scope=snsapi_userinfo&state=hfky#wechat_redirect"

                    //location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxad232bc511391522&redirect_uri=http%3A%2F%2Fm.rok0769.com%2Fwx%2Fmothersday%2Findex.html%23list&response_type=code&scope=snsapi_userinfo&state=hfky#wechat_redirect"
                }
             }()
        </script>
		<style type="text/css">
			body{margin:0 auto; padding:0; max-width:640px; font-size: 14px; background-color: rgb(204, 185, 216);  color: rgb(254, 227, 163); }
            #myapp{padding: 0 0 50px; }
            .banner img{display: block; width: 100%; }
            .entry-head{display: flex; }
            .entry-head span{flex: 1; line-height: 1.7em; padding: 10px 0; font-size: 16px; text-align: center; background-color: rgb(222, 120, 150); font-weight: bold; }
            .entry-form{padding: 0 15px 20px; }
            .form-title{margin: 0; padding: 20px 0; text-align: center; font-size: 20px; font-weight: bold; }
            .entry-form input{width: 100%; margin: 0 0 20px; padding: 10px; box-sizing: border-box; border:1px solid #eee; border-radius: 10px; outline: none; }
            .entry-form input:focus, .form-text textarea:focus, .form-submit button:focus, .list-search input:focus, .list-search button:focus{outline: none; border: 1px solid rgb(254, 227, 163); }
            .form-img-title{font-size: 12px; color: #555; }
			.form-img-list{margin: 0 -10px; font-size: 0; }
			.form-img-item{position: relative; display: inline-block; width: 25%; height: 100px; box-sizing: border-box; padding: 10px 5px; }
			.form-img-item span{ position: absolute; width: 20px; height: 20px; line-height: 20px; box-sizing: border-box; border-radius: 50%; border: 1px solid red; top: 0; right: 0; font-size: 18px; font-family:arial,Helvetica; color: red; text-align: center; }
			.form-img-item img{display: block; width: 100%; height: 100%; margin: 0 auto; object-fit: cover; border: 1px solid #ddd; border-radius: 8px; box-sizing: border-box; }
            .form-img-camera img{max-width: 100px; padding: 15px; }
            .submit-warning{height: 16px; margin: 0; text-align: center; font-size: 12px; color: red; }
            .form-text{position: relative; margin: 10px -5px 40px; }
			.form-text textarea{display: block; width: 100%; border:1px solid #eee;  box-sizing: border-box; padding: 10px; background-color: #fff; line-height: 1.7em; }
            .form-wordcount{position: absolute; right: 0; bottom: -16px; font-size: 12px; color: #777; }
            .form-submit{margin: 15px 0 0; }
			.form-submit button{width:100%; height: 40px; line-height: 40px; border: none; border-radius: 10px; background-color: rgb(222, 120, 150); color: #fff; font-size: 16px; font-weight: bold; }
            
            .list-search{display: block; padding: 20px 15px; text-align: center; }
            .list-search input{width: 80%; padding: 10px; box-sizing: border-box; border-radius: 10px; border: 1px solid #eee; }
            .list-search button{margin: 0 10px; padding: 5px; border-radius: 5px; border: 1px solid #eee; background-color: rgb(222, 120, 150); color: #fff; }
            .list-record{font-size: 0; }
            .list-item{display: inline-block; width: 50%; padding: 10px 5px; border: 5px solid rgb(204, 185, 216); border-radius: 15px; box-sizing: border-box; line-height: 1.5em; background-color: #fff; color: #666; text-align: center; }
            .list-item span{font-size: 14px; line-height: 1.5em; }
            .list-item-thumb{width: 90%; height: 150px; object-fit: cover; object-position: center; }
            .list-item-name{display: block; margin: 5px 0; text-align: center; }
            .list-item-id, .list-item-votes{display: inline-block; width: 50%; text-align: center; }
            .list-item-content{display: -webkit-box; -webkit-line-clamp:3; overflow: hidden; -webkit-box-orient: vertical; height: 60px; margin: 5px; font-size: 14px; line-height: 1.5em; text-align: justify; }
            .list-item-voting, .list-item-detail{display: inline-block; width: 45px; height: 26px; box-sizing: border-box; padding: 4px 8px; margin: 0 10px; border: none; border-radius: 5px; background-color: rgb(222, 120, 150); color: #fff; }
            .list-item-voting:focus, .list-item-detail:focus{outline: none; border: 1px solid rgb(254, 227, 163); }
            .list-voting-disable{background-color: #bbb; }
            .list-more{margin: 15px 0 20px; text-align: center; }
            .list-more button{padding: 5px 10px; border: none; border-radius: 5px; font-size: 16px; font-weight: bold; background-color: rgb(222, 120, 150); color: #fff; }

            .search .list-search{padding: 25px 15px 15px; background-color: rgb(204, 185, 216); }
            .search-tip{height: 16px; margin: 0 0 5px; text-align: center; font-size: 12px; color: rgb(254, 227, 163); }
            .search .submit-warning{margin-top: 5px; }
            .search-voting, .user-voting{width:90%; height: 40px; margin: 30px auto 20px; line-height: 40px; border: none; border-radius: 10px; background-color: rgb(222, 120, 150); color: #fff; font-size: 16px; font-weight: bold; }

            .user{background-color: #fff; color: #555; text-align: center; }
            .user-thumb{background-color: rgb(222, 120, 150); text-align: center; }
            .user-thumb img{display: block; width: 150px; height: 150px; object-fit: contain; margin: 0 auto; padding: 20px 0 0; border-radius: 50%; }
            .user-thumb p{display: inline-block; margin: 0; padding: 10px 0 15px; font-size: 16px; color: #fff; }
            .user-img{font-size: 0; margin: 15px 0; }
            /* .user-img div{display: inline-block; width: 33.3%; height: 150px; box-sizing: border-box; padding: 5px; } */
            .user-img div{ width: 85%; margin: 0 auto; padding: 5px; } 
            /* .user-img img{width: 100%; height: 100%; box-sizing: border-box;  border: 1px solid #ccc; border-radius: 19px; object-fit: cover; } */
            .user-img img{width: 100%; border: 1px solid #ccc; border-radius: 19px; }
            .user span{display: block; height: 40px; line-height: 40px; padding: 0 20px; border-bottom: 1px solid #ccc; font-size: 16px; }
            .user .user-content{height: auto; line-height: 1.5em; padding: 10px 20px; }
            .user-thumb span{display: inline; color: #fff; }
            .user-update{margin: 20px 0; padding: 5px 10px; border: none; border-radius: 6px; background-color: rgb(254, 227, 163); color: #fff; font-size: 16px; font-weight: bold; }

            .masker{display: none; position: fixed; z-index: 5; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(222, 120, 150,.8); }
            .maskershow{display: block; }
            .masker p{position: absolute; top: 50%; transform: translate(0, -50%); width: 100%; margin: 0 auto;  text-align: center; }
            .masker span{display: block; line-height: 1.5em; padding: 5px 0; font-weight: bold; }
            .masker img{width: 150px; }

            .foottab{position: fixed; bottom: 0; width: 100%; max-width: 640px; border-top: 1px solid #eee;  font-size: 0; }
            .foottab span{display: inline-block; border-right: 1px solid #eee; box-sizing: border-box; font-size: 16px; font-weight: bold; height: 40px; line-height: 40px; background-color: #fff;  text-align: center; cursor: pointer; }
            #myapp .foottab-active{background-color: rgb(222, 120, 150);}

            .introduction{padding: 15px; font-size: 14px; text-align: left; background-color: #fff; color: #555; }
            .introduction h2{margin: 10px 0; text-align: center; font-size: 18px; line-height: 1.5em; }
            .intro-baseline{text-decoration: underline; }
            .intro-award, .intro-colorful{color: rgb(222, 120, 150); font-weight: bold; }
            .introduction h3{margin: 6px 0; font-size: 16px; }
            .introduction p{margin: 10px; line-height: 1.7em; }

            .clock{margin: 0; padding: 20px; text-align: center; font-size: 20px; font-weight: bold; background-color: #fff;  }
            .clock h2{margin: 0 0 10px 0; font-size: 20px; color: #555;}
            .clock-day, .clock-hour, .clock-minute, .clock-second{color: rgb(222, 120, 150); }
            .rank{margin: 20px 0; padding: 20px 10px; background-color: #fff; font-size: 20px; font-weight: bold; color: rgb(254, 227, 163); }
            .rank-title{margin: 0 0 15px; font-size: 20px; text-align: center; }
            .rank-item{display: flex; margin: 0 0 15px; padding: 10px; border-radius: 20px; background-color: rgb(204, 185, 216); }
            .rank img{width: 60px; height: 60px; border-radius: 50%; object-fit: cover; object-position: center center; }
            .rank-item div{flex: 2; margin: 0 15px; }
            .rank-item-num, .rank-item-name{display: block; height: 30px; line-height: 30px; }
            .rank-item-votes{flex: 1; height: 60px; line-height: 60px; color: rgb(222, 120, 150); }
            [v-cloak]{visibility: hidden; }
		</style>
	</head>
	<body>
        <div id="myapp">
            <keep-alive>
                <component :is="currComponent" @jump2search="changeTpl"></component>
            </keep-alive>
            <div class="masker" :class="{maskershow:!focused}">
                <p>
                    <span>要关注公众号才能参与活动哦，<br>长按识别二维码即可关注：</span>
                    <img src="./resource/2dcode.png" alt="韩方科颜服务号二维码">
                </p>
            </div>
            <div class="foottab" v-cloak>
                <span v-for="item in footTab" :style="{width:setFootTabWidth}" :class="[item.class, currComponent==item.template?'foottab-active':'']"  @click="changeTpl(item.template)">{{item.name}}</span>
            </div>
        </div>
        <script type="text/x-template" id="introduction">
            <div class="introduction">
                <h2>【韩方科颜特别巨献：晒照赢取母亲节超级大奖】——陪伴是最长情的告白</h2>
                <h3>活动奖品：</h3>
                <p class="intro-award">特等奖1名，价值2598按摩椅一张;<br>一等奖2名，1000元六福等大品牌的项链玉佛吊坠(送妈妈表心意);<br>二等奖5名，价值298元医用面膜1盒+洗面奶一支;<br>三等奖10名，免费体验STT水动力补水一次;<br>人气奖：母亲节当天，总票数达到200票，即可额外享受多一次基因水动力补水项目一次。</p>
                <h3>活动规则:</h3>
                <p class="intro-rule">1.由东莞韩方科颜商贸有限公司微信公众平台发起大型亲情公益活动，投票人员只需关注官方微信公众号<span class="intro-colorful">hfky86</span>即可参与本活动。<br>（1）<span class="intro-baseline">参与评选</span>。关注官方微信公众号<span class="intro-colorful">hfky86</span>进入活动页面，报名者只需上传你和妈妈一张或者最多三张合照，发动身边的亲朋好友为你们投票，即有机会获得超级大奖。<br>（2）<span class="intro-baseline">助力投票</span>。关注公众号<span class="intro-colorful">hfky86</span>后即可为“最温暖妈妈笑容”参选者进行投票。<br>（3）<span class="intro-baseline">投票权限</span>。<span>每个IP每天只有三次投票机会,同一选手只能投一票</span>。严禁任何形式的刷票，一旦发现取消资格。<br>2.报名时间：<span class="intro-colorful">5月5日-5月13日23时59分59秒</span>。<br>3.开奖时间：<span class="intro-colorful">母亲节后一天（5月14日）</span>。<br>4.领奖方式：获奖后需要连续转发获奖信息到朋友圈3天截图反馈，方可领奖。实物产品可选择到莞城店、南城店或选择快递。<br>【备注】本活动所赢奖项仅限照片中人在兑奖日期内使用,逾期作废。</p>
            </div>
        </script>
        <script type="text/x-template" id="rank">
            <div>
                <count-down></count-down>
                <div class="rank">
                    <h2 class="rank-title">票数排行榜</h2>
                    <div class="rank-list">
                        <div class="rank-item" v-for="item,index in ranklist">
                            <img :src="item.imgurl" alt="">
                            <div><span class="rank-item-num">No.{{index+1}}</span><span  class="rank-item-name">{{item.name}}</span></div>
                            <span class="rank-item-votes">{{item.votes}}票</span>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="countDown">
            <div class="clock">
                <h2>投票时间倒计时</h2>
                <span>
                    <span class="clock-day">{{getLeftTime.day}}</span>天
                    <span class="clock-hour">{{getLeftTime.hour}}</span>时
                    <span class="clock-minute">{{getLeftTime.minute}}</span>分
                    <span class="clock-second">{{getLeftTime>0&&getLeftTime.second==0?59:getLeftTime.second}}</span>秒
                </span>
            </div>
        </script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <!-- <script src="http://mat1.gtimg.com/libs/zepto/1.1.6/zepto.min.js"></script> -->
        <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
        <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <!-- <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script> -->
        
		<script>
		var data = {
			//imgSrc: [],//上传的图片路径
            //serverIds: [],//图片上传到微信服务器返回的id，服务器下载图片要用到
			wxConfig:{
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: 'wxad232bc511391522', // 必填，公众号的唯一标识
				timestamp: '', // 必填，生成签名的时间戳
				nonceStr: '', // 必填，生成签名的随机串
				signature: '',// 必填，签名
				jsApiList: ['chooseImage','previewImage','uploadImage', 'downloadImage', 'onMenuShareTimeline', 'onMenuShareAppMessage']// 必填，需要使用的JS接口列表
			},
            //alreadySend: false,//由于wx.uploadImage只能一张一张上传，且必须在成功的回到函数中重复调用，所以用此变量来控制重复提交
            newRegister: false,
            searchVal: null,
            votingLeft:3,
            entryData: {
                id:null,
                name: '',
                phone: '',
                content: '',
                imgSrc: []
            }
		};
        var CookieUtil = {
            // 设置cookie
            set: function (name, value, expires, domain, path, secure) {
                var cookieText = "";
                cookieText += encodeURIComponent(name) + "=" + encodeURIComponent(value);
                if (expires instanceof Date) {
                    cookieText += "; expires=" + expires.toGMTString();
                }
                if (path) {
                    cookieText += "; path=" + path;
                }
                if (domain) {
                    cookieText += "; domain=" + domain;
                }
                if (secure) {
                    cookieText += "; secure";
                }
                document.cookie = cookieText;
            },
            // name=value; expires=expiration_time; path=domain_path; domain=domain_name; secure
            // 获取cookie
            get: function (name) {
                var cookieName = encodeURIComponent(name) + "=",
                    cookieStart = document.cookie.indexOf(cookieName),
                    cookieValue = "";
                if (cookieStart > -1) {
                    var cookieEnd = document.cookie.indexOf (";", cookieStart);
                    if (cookieEnd == -1) {
                        cookieEnd = document.cookie.length;
                    }
                    cookieValue = decodeURIComponent(document.cookie.substring(cookieStart + cookieName.length, cookieEnd));
                }
                return cookieValue; 
            },
            // 删除cookie
            unset: function (name, domain, path, secure) {
                this.set(name, "", Date(0), domain, path, secure);
            }
        };  
        if(CookieUtil.get('votingLeft')!=''){
            data.votingLeft = CookieUtil.get('votingLeft');
        };
        var tplList = {
            template: `<div class="list">
                <div class="banner"><img src="./resource/banner.jpg" alt=""></div>
                <introduction></introduction>
                <label for="search" class="list-search"><input type="search" placeholder="输入选手编号或姓名"  @focus="jumpToSearch"><button id="search" type="button">搜索</button></label>
                <div class="list-record">
                    <div class="list-item" v-for="item,index in userList">
                        <img :src="item.imgurl[0].replace('.jpg','s.jpg')" alt="" class="list-item-thumb" @click.prevent="showDetail(item.id)">
                        <span class="list-item-name">名字：{{item.name}}</span>
                        <span class="list-item-id">编号：{{item.id}}</span>
                        <span class="list-item-votes">票数：{{item.votes}}</span>
                        <span class="list-item-content">宣言：{{item.content}}</span>
                        <voting-button :userid="item.id" :uservotes="item.votes" @increasevotes="increasevotes(index)">投票</voting-button>
                        <button class="list-item-detail" @click="showDetail(item.id)">详情</button>
                    </div>
                    <div class="list-more"><button @click="getRecord" ref="listMoreBtn">加载更多</button></div>
                </div>
            </div>`,
            data: function(){
                return {
                    userList: [],
                    maxid: 0,
                    maxvotes: 10000
                    // votingLeft: 3
                }
            },
            methods: {
                jumpToSearch: function(){
                    this.$emit("jump2search","search");
                },
                increasevotes: function(index){
                    this.userList[index].votes++;
                    // this.votingLeft--;
                },
                showDetail: function(id){
                    //emptyBus.$emit("searchDetail",id);
                    //同级组件无法直接通信，借助全局变量完成
                    data.searchVal = id;
                    this.jumpToSearch();
                },
                getRecord: function(){
                    var that = this;
                    $.ajax({
                        url:'./getRecord.php',
                        data:{maxid:that.maxid, maxvotes: that.maxvotes},
                        type:'GET',
                        dataType:'json',
                        success:function(res){
                            if(res instanceof Array){
                                for(var i=0; i<res.length; i++){
                                    res[i].imgurl = res[i].imgurl.split("_");
                                }
                                that.userList = that.userList.concat(res);
                                that.maxid = res[res.length-1].id;
                                that.maxvotes = res[res.length-1].votes;
                            }
                            else if(typeof res == 'string'){
                                that.$refs['listMoreBtn'].innerText = '到底了';
                            }
                        }
                    })
                }
            },
            created: function(){
                this.getRecord();
            },
            activated: function(){
                if(data.newRegister){
                    this.getRecord();
                    data.newRegister = false;
                }
            }
        };
        var tplSearch = {
            template: `<div class="search user">
                <div class="banner"><img src="./resource/banner.jpg" alt=""></div>
                <label for="search" class="list-search"><div class="search-tip" v-cloak>在此搜索选手编号，将页面分享出去就可以为ta拉票哦！</div><input type="search" id="search" placeholder="输入选手编号或姓名" ref="searchInput" v-model="searchVal"><button type="button" @click="search" ref="searchBtn">搜索</button><div class="submit-warning" v-cloak>{{warningText}}</div></label>
                <div class="search-item" v-for="item,index in userinfo" v-show="userinfo[0].imgurl.length>0">
                    <div class="user-thumb">
                        <p class="user-name">{{item.name}}</p>
                    </div>
                    <div class="user-img">
                        <div v-for="imgItem in item.imgurl"  @click="previewImg(imgItem)"><img :src="imgItem.replace('.jpg','s.jpg')" alt=""></div>
                    </div>
                    <span class="user-id">编号：{{item.id}}</span>
                    <span class="user-votes">得票：{{item.votes}}</span>
                    <span class="user-content">宣言：{{item.content}}</span>
                    <voting-button class="search-voting" :userid="item.id" :uservotes="item.votes" @increasevotes="increasevotes(index)">投ta一票</voting-button>
                </div>
            </div>`,
            data: function(){
                return {
                    userinfo:[
                        {imgurl:[], name: '', id:null, votes:null, content:""}
                    ],
                    searchVal:'',
                    warningText:''
                }
            },
            methods: {
                submitWarning: function(text){
                    this.warningText = text;
                    var that = this;
                    setTimeout(function(){
                        that.warningText = '';
                    }, 2000);
                },
                search: function(){
                    var that = this;
                    if(this.searchVal==''){
                        this.submitWarning("请输入查询条件");
                        return false;
                    };
                    $.ajax({
                        url:'./search.php',
                        data:{searchVal:that.searchVal},
                        type:'GET',
                        dataType:'json',
                        success:function(res){
                            if(typeof res == "object"){
                                for(var i=0; i<res.length; i++){
                                    res[i].imgurl = res[i].imgurl.split("_");
                                }
                                that.userinfo = res;
                            }
                            else{
                                that.submitWarning("未找到匹配结果，请检查您的查询条件");
                            }
                            if(res.length==1){
                                location.hash = "#search"+that.userinfo[0].id; 
                            }
                        },
                        error:function(){
                            console.log('error')
                        }
                    })
                },
                previewImg: function(src){
                    var that = this;
                    var current = 'http://m.rok0769.com/wx/mothersday'+src.slice(1);
                    var urls = [];
                    for(var i=0; i<that.userinfo[0].imgurl.length; i++){
                        urls[i] = 'http://m.rok0769.com/wx/mothersday'+that.userinfo[0].imgurl[i].slice(1);
                    }
                    wx.previewImage({
                        current: current, // 当前显示图片的http链接
                        urls: urls // 需要预览的图片http链接列表
                    });
                },
                increasevotes: function(index){
                    this.userinfo[index].votes++;
                    // this.votingLeft--;
                }
            },
            activated: function(){
                //当通过分享的链接的进入时，先判断hash,根据hash加载内容
                var hash = location.hash;
                var searchId = hash.replace("#search","");
                //首次进入判断
                if(/^\d+$/.test(searchId) && this.searchVal != searchId){
                    this.searchVal = searchId;
                    this.search();
                }

                //列表页的详情按钮改变了全局变量data.searchVal,在此判断从列表页进入
                if(data.searchVal !=null && this.searchVal != data.searchVal){
                    this.searchVal = data.searchVal;
                    this.search();
                    data.searchVal = null;
                }
                //回到列表页点击再次点击同一个详情进来，也要改变hash
                else if(data.searchVal !=null && this.searchVal == data.searchVal){
                    location.hash = '#search'+this.userinfo[0].id;
                }
                if(this.userinfo[0].id != null && location.hash != '#search'+this.userinfo[0].id){
                    location.hash = '#search'+this.userinfo[0].id;
                }
                if(this.searchVal == ""){
                    this.$refs.searchInput.focus();
                }
            }
        }
        var tplEntry = {
            template: `<div class="entry">
                <div class="banner"><img src="./resource/banner.jpg" alt=""></div>
                <div class="entry-head">
                    <span>已报名<br>{{countData.registerCount}}</span>
                    <span>投票人次<br>{{countData.votingCount}}</span>
                    <span>浏览量<br>{{viewCount}}</span>
                </div>
                <form class="entry-form" action="">
                    <h2 class="form-title">报名处</h2>
                    <input type="text" name="name" placeholder="您的名字" required v-model.lazy.trim="name" @change="validateName">
                    <input type="number" name="phone" placeholder="您的手机号" required v-model.lazy.trim="phone" @change="validatePhone">
                    <div class="form-img">
                        <span class='form-img-title'>上传图片(最多3张)</span>
                        <div class='form-img-list'>
                            <div class='form-img-item' v-for="item,index in imgSrc">
                                <span @touchend="delImg(index)" >×</span>
                                <img :src="item">
                            </div>
                            <div class='form-img-item form-img-camera'>
                                <img src='./resource/camera.png' @touchend="chooseImg">
                            </div>
                        </div>
                    </div>
                    <div class="submit-warning" v-cloak>{{warningText}}</div>
                    <div class='form-text'>
                        <textarea rows="3" placeholder='写下最想对母亲说的话(50字以内)' name="content" maxlength="50" required v-model.trim="content" @change="validateContent"></textarea>
                        <span class="form-wordcount" v-cloak>{{content.length}}/50</span>
                    </div>
                    <div class='form-submit'><button type='button' @click="submitForm($event)" :disabled="submitBtnDisabled">{{submitBtnDisabled?'提交中，请稍后...':'马上报名'}}</button></div>
                </form>
            </div>`,
            data: function(){
                return {
                    countData: {registerCount:0, votingCount:0, isRegistered:false},
                    name: '',
                    phone: '',
                    content: '',
                    warningText: '',
                    imgSrc: [],
                    submitBtnDisabled: false,
                    serverIds: []
                }
            },
            computed: {
                viewCount: function(){
                    return Math.ceil((new Date() - new Date(2018,4,3))/60000);
                }
            },
            methods: {
                submitWarning: function(text){
                    this.warningText = text;
                    var that = this;
                    setTimeout(function(){
                        that.warningText = '';
                    }, 2500);
                },
                validateName: function(){
                    if(this.name == ''){
                        this.submitWarning('请输入您的名字');
                        return false;
                    }
                    else if(/^\d./.test(this.name)){
                        this.submitWarning('名字不能以数字开头');
                    }
                    else{
                        return true;    
                    }
                },
                validatePhone: function(){
                    if(this.phone == ''){
                        this.submitWarning('请输入您的手机号');
                        return false;
                    }
                    else if(!/^1(3|4|5|6|7|8|9)\d{9}$/.test(this.phone)){
                        this.submitWarning('请输入正确的11位手机');
                        return false;
                    }
                    else{
                        return true;
                    }
                },
                validateContent: function(){
                    if(this.content == ''){
                        this.submitWarning('请输入您想说的话');
                        return false;
                    }
                    else{
                        return true;
                    }
                },
                chooseImg: function(){
                    var that = this;
                    wx.chooseImage({
                        count: 3 - that.imgSrc.length,
                        sizeType: ["compressed"],
                        success: function (res) {
                            that.imgSrc = that.imgSrc.concat(res.localIds);
                        }
                    })
                },
                delImg: function(index){
                    this.imgSrc.splice(index,1);
                },
                submitDisabled: function(){
                    this.submitBtnDisabled = true;
                },
                submitAbled: function(){
                    this.submitBtnDisabled = false;
                },
                resetForm: function(){
                    this.name = '';
                    this.phone = '';
                    this.imgSrc = [];
                    this.content = '';
                    this.serverIds = [];
                    this.submitAbled();
                },
                uploadImg: function(){
                    if(this.imgSrc.length == 0){
                        this.addRecord();
                        data.entryData.id = null;
                        data.entryData.name = '';
                        data.entryData.phone = '';
                        data.entryData.imgSrc = [];
                        data.entryData.content = '';
                        return;
                    }
                    var that = this;
                    var tmpImgSrc = this.imgSrc.slice(0);
                    //submitBtn.style.backgroundColor = "#aaaaaa";
                    var uploadLoop = function(){
                        if(tmpImgSrc.length>0){
                            wx.uploadImage({
                                localId: tmpImgSrc.shift(), // 需要上传的图片的本地ID，由chooseImage接口获得
                                isShowProgressTips: 0, // 默认为1，显示进度提示
                                success: function (res) {
                                    that.serverIds.push(res.serverId); // 返回图片的服务器端ID
                                    console.log(that.serverIds);
                                    uploadLoop();
                                    // if((data.alreadySend==false) && (tmpImgSrc.length==0)){
                                    //     addRecord();
                                    //     return;
                                    // }
                                },
                                fail: function(){
                                    //that.submitAbled();
                                    alert('服务器开小差啦，请稍后再试。');
                                    console.log('error');
                                }
                            });
                        }
                    };
                    uploadLoop();
                },
                addRecord: function (){
                    var that = this;
                    $.ajax({
                        url:'./addRecord.php',
                        data:{
                            id: data.entryData.id,
                            name: that.name,
                            phone: that.phone,
                            content: that.content,
                            serverIds: that.serverIds,
                            queryType: that.countData.isRegistered?'update':'add'
                        },
                        type:'GET',
                        dataType:'json',
                        success:function(res){
                            console.log(res.length)
                            if(res == "success"){
                                alert('提交成功。');
                                that.resetForm();
                                //data.alreadySend = true;
                                //提交成功触发跳转，改变全局的中间变量以便列表页刷新
                                that.$emit("jump2search","list");
                                data.newRegister = true;
                            }
                        },
                        error: function(){
                            that.submitAbled();
                            console.log('error');
                        }
                    })
                },
                submitForm: function(e){
                    //双重判断，后面的判断条件是判断是不是修改信息的
                    if(this.countData.isRegistered && data.entryData.name == ''){
                        this.submitWarning('您已经报名，请不要重复报名.');
                        return false;
                    }
                    if(this.imgSrc.length==0 && data.entryData.name == ''){
                        this.submitWarning('请上传1-3张图片');
                        return false;
                    }
                    else if(this.validateName()&&this.validatePhone()&&this.validateContent()){
                        this.submitDisabled();
                        this.uploadImg();
                    }
                }
            },
            created: function(){
                var that = this;
                $.ajax({
                    url:'./getCountData.php',
                    data:'',
                    type:'GET',
                    dataType:'json',
                    success:function(res){
                        if(res instanceof Object){
                            that.countData.registerCount = res.registerCount;
                            that.countData.votingCount = res.votingCount;
                            that.countData.isRegistered = res.isRegistered;
                        }
                    },
                    error:function(){
                        console.log('error')
                    }
                })
            },
            activated: function(){
                //监控全局变量的数据，如果不为空，则说明用户点击了修改信息
                if(data.entryData.name != ''){
                    this.submitWarning('重新上传的图片会替换原来所有的图片');
                    this.name = data.entryData.name;
                    this.phone = data.entryData.phone;
                    //this.imgSrc = data.entryData.imgSrc;
                    this.content = data.entryData.content;
                }
            },
            watch: {
                serverIds: function(){
                    console.log("watch");
                    if(this.imgSrc.length>0 && this.imgSrc.length == this.serverIds.length){
                        this.addRecord();
                        data.entryData.id = null;
                        data.entryData.name = '';
                        data.entryData.phone = '';
                        data.entryData.imgSrc = [];
                        data.entryData.content = '';
                        //console.log(this.$data);
                        //Object.assign(this.$data, this.$options.$data);
                        //console.log(this.$data);
                    }
                }
            }
        }
        var tplUser = {
            template: `<div class="user">
                <div class="user-thumb">
                    <img :src="(userinfo.headimgurl)" alt="">
                    <p class="user-name">{{userinfo.name}}</p>
                </div>
                <div class="user-img">
                    <div v-for="item in userinfo.imgurl"><img :src="item" alt=""></div>
                </div>
                <span class="user-id">编号：{{userinfo.id}}</span>
                <span class="user-votes">得票：{{userinfo.votes}}</span>
                <span class="user-content">宣言：{{userinfo.content}}</span>
                <voting-button class="user-voting" :userid="userinfo.id" :uservotes="userinfo.votes" @increasevotes="increasevotes" v-show="isRegistered">投自己一票</voting-button>
                <button class="user-update" @click="changeToEntry">{{isRegistered?'修改信息':'马上报名'}}</button>
            </div>`,
            data: function(){
                return {
                    isRegistered:false,
                    userinfo:{
                        imgurl:[],
                        name: '',
                        pohne:'',
                        id:null,
                        votes:null,
                        content:"",
                        headimgurl:''
                    }
                }
            },
            methods: {
                increasevotes: function(){
                    this.userinfo.votes++;
                    // this.votingLeft--;
                },
                changeToEntry: function(){
                    data.entryData.id = this.userinfo.id;
                    data.entryData.name = this.userinfo.name;
                    data.entryData.phone = this.userinfo.phone;
                    data.entryData.imgSrc = this.userinfo.imgurl;
                    data.entryData.content = this.userinfo.content;
                    this.$emit("jump2search", "entry");
                }
            },
            created: function(){
                var that = this;
                $.ajax({
                    url:'./getPersonalInfo.php',
                    data:'',
                    type:'GET',
                    dataType:'json',
                    success:function(res){
                        if(res instanceof Object && res.errmsg == undefined){
                            res[0].imgurl = res[0].imgurl.split("_");
                            that.userinfo = res[0];
                            that.isRegistered = true;
                        }
                        else if(typeof res.errmsg == "string"){
                            that.userinfo.headimgurl = res.headimgurl;
                        }
                    },
                    error:function(){
                        console.log('error')
                    }
                })
            }
        }
        // var emptyBus = new Vue();
        Vue.component('voting-button', {
            props:['userid', 'uservotes'],
            template:'<button class="list-item-voting" @click="voting(userid,uservotes,$event)"><slot></slot></button>',
            data: function(){
                return {
                    votingLeft:3
                };
            },
            methods: {
                voting: function(id,votes,e){
                    //console.log(id,votes);
                    //this.votingLeft = data.votingLeft;
                    var that = this;
                    var votingId = CookieUtil.get("votingId");
                    if(data.votingLeft == 0){
                        alert('您今天的投票次数已用完(3次)，请明天再来吧.');
                        return;
                    }
                    else if(votingId!=''){
                        var tmpArr = votingId.split('_');
                        for(var i=0, len=tmpArr.length; i<len; i++){
                            if(tmpArr[i]==id){
                                alert('您今天已经给他投过票，不能重复投哦，明天再来吧.');
                                e.currentTarget.disabled = true;
                                e.currentTarget.innerText = '已投';
                                e.currentTarget.style.backgroundColor = '#aaa';
                                return;
                                break;
                            }
                        };
                    }
                    var date = new Date();
                    var deadTime = new Date(date.getFullYear(),date.getMonth(),date.getDate()+1);
                    $.ajax({
                        url:'./votes.php',
                        data:{id:id, votes:votes},
                        type:'GET',
                        dataType:'json',
                        success:function(res){
                            if(res == 1){
                                data.votingLeft--;
                                CookieUtil.set("votingLeft", data.votingLeft, deadTime);
                                that.$emit("increasevotes");
                                if(votingId==''){
                                    CookieUtil.set('votingId', id, deadTime);
                                }
                                else{
                                    CookieUtil.set('votingId',votingId+'_'+id, deadTime);
                                };
                                e.target.disabled = true;
                                e.target.innerText = '已投';
                                e.target.style.backgroundColor = '#aaa';
                            }
                        }
                    })
                }
            },
            created: function(){
                //this.votingLeft = data.votingLeft;
            }
        })
        Vue.component('introduction', {
            template:'#introduction'
        })
        Vue.component('count-down', {
            template: '#countDown',
            data: function(){
                return {
                    clock: {
                        day: 0,
                        hour: 0,
                        minute: 0,
                        second: 0
                    },
                    timeLeft: 0,
                }
            },
            computed: {
                getLeftTime: function(){
                    var day = Math.floor(this.timeLeft/86400);
                    var hour = Math.floor((this.timeLeft%86400)/3600);
                    var minute = Math.floor((this.timeLeft%3600)/60);
                    var second = Math.floor(this.timeLeft%60);
                    var tmpObj = {day:day, hour:hour, minute:minute, second:second};
                    for(var item in tmpObj){
                        if(tmpObj[item].toString().length<2){
                            tmpObj[item] = "0" + tmpObj[item];
                        }
                    }
                    return tmpObj;
                }
            },
            created: function(){
                var that = this;
                var currDate = new Date();
                var deadDate = new Date(2018,4,14);
                if(currDate>deadDate){
                    alert('投票时间已过');
                    return;
                }
                that.timeLeft = Math.floor((new Date(deadDate - currDate))/1000);
                setInterval(function(){
                    currDate = new Date();
                    that.timeLeft = Math.floor((new Date(deadDate - currDate))/1000);
                }, 1000)
            }
        })
        Vue.component('rank', {
            template: '#rank',
            data: function(){
                return {
                    ranklist:[
                        {imgurl:'./resource/banner.jpg', name:'张三', votes:888},
                        {imgurl:'./resource/banner.jpg', name:'李四', votes:888},
                        {imgurl:'./resource/banner.jpg', name:'王五', votes:888},
                        {imgurl:'./resource/banner.jpg', name:'张三', votes:888},
                    ]
                }
            },
            methods: {

            },
            activated: function(){
                var that = this;
                $.ajax({
                    url:'./getRecord.php',
                    data:'',
                    type:'GET',   
                    dataType:'json',
                    success:function(res){
                        if(res instanceof Array){
                            for(var i=0; i<res.length; i++){
                                res[i].imgurl = res[i].imgurl.split("_");
                            }
                            that.userList = that.userList.concat(res);
                            that.maxid = res[res.length-1].id;
                            that.maxvotes = res[res.length-1].votes;
                        }
                        else if(typeof res == 'string'){
                            that.$refs['listMoreBtn'].innerText = '到底了';
                        }
                    }
                })
            }
        })
        var myapp = new Vue({
            el: "#myapp",
            data: {
                focused: true,
                footTab:[
                    {name:'首页', template:'list', class:'foottab-list'},
                    {name:'搜索', template:'search', class:'foottab-search'},
                    {name:'排名', template:'rank', class:'foottab-rank'},
                    {name:'报名', template:'entry', class:'foottab-entry'},
                    {name:'我的', template:'user', class:'foottab-user'}
                ],
                currComponent:'list'
            },
            components:{
                list: tplList,
                search: tplSearch,
                entry: tplEntry,
                user: tplUser
            },
            computed: {
                setFootTabWidth: function(){
                    if(this.footTab.length>1){
                        return (100/this.footTab.length).toFixed(4).toString().slice(0,-1)+"%";
                    }
                    else{
                        return "100%"
                    }
                }
            },
            methods: {
                changeTpl: function(tpl){
                    this.currComponent = tpl;
                    location.hash = '#'+tpl;
                }
            },
            created: function(){
                var hash = location.hash;
                for(var i=0, len=this.footTab.length; i<len; i++){
                    if(hash.indexOf(this.footTab[i].template)>-1){
                        this.currComponent = this.footTab[i].template;
                    }
                };
                var queryStr = location.search;
                //将链接后面的code和state查询字符串通过ajax传给后端接口
                //console.log(queryStr)
                if(queryStr != ""){
                    var that = this;
                    $.ajax({
                        url:'../getUserInfo.php' + queryStr,
                        data:'',
                        type:'GET',
                        dataType:'text',
                        success:function(res){
                            console.log(res)
                            //console.log(res.length);
                            /* 后端返回success，说明用户授权成功，将当前页面url返回给后端（不包括#号和后面的部分），用以完成签名认证 */
                            if(res == 'success'){
                                //console.log(res)
                                $.ajax({
                                    url:'../authVerify.php',
                                    data:{"currUrl":location.href.split("#")[0]},
                                    type:'GET',
                                    dataType:'json',
                                    success:function(res){
                                        console.log(res);
                                        //签名成功，调用wx.config接口进行配置
                                        if(res){
                                            data.wxConfig.nonceStr = res.nonceStr;
                                            data.wxConfig.timestamp = res.timestamp;
                                            data.wxConfig.signature = res.signature;
                                            wx.config(data.wxConfig);
                                            if(res.focus == 'notfocus'){
                                                that.focused = false;
                                            }
                                        }
                                    },
                                    error: function(){
                                        console.log("error")
                                    }
                                })
                            }
                            else{
                                var appId = "wxad232bc511391522";
                                var url = encodeURIComponent("http://m.rok0769.com/wx/mothersday/index.html"+location.hash);
                                // location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+appId+"&redirect_uri="+url+"&response_type=code&scope=snsapi_userinfo&state=hfky#wechat_redirect";
                            }
                        },
                        error:function(){
                            console.log("failed");
                        }
                    })
                };
                wx.error(function(res){
                    console.log(res);
                })
            }
        })

        document.addEventListener("visibilitychange", function(e){
            if(!document.hidden && myapp.focused==false){
                location.reload();
            }
        })
        window.addEventListener("hashchange", function(){
            wx.onMenuShareTimeline({
                title: '我参加了韩方科颜的母亲节感恩活动，帮我投一票吧', // 分享标题
                link: "http://m.rok0769.com/wx/mothersday/index.html"+location.hash, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://m.rok0769.com/wx/mothersday/resource/banner.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: '我参加了韩方科颜的母亲节感恩活动，帮我投一票吧', // 分享标题
                desc: '我参加了韩方科颜的母亲节感恩活动，帮我投一票吧', // 分享描述
                link: "http://m.rok0769.com/wx/mothersday/index.html"+location.hash, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://m.rok0769.com/wx/mothersday/resource/banner.jpg', // 分享图标
                //type: '', // 分享类型,music、video或link，不填默认为link
                //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                // 用户取消分享后执行的回调函数
                }
            });
            console.log("http://m.rok0769.com/wx/mothersday/index.html"+location.hash)
        })



        $(document).ready(function(){
            var start = Date.now();
            // $.ajax({
            //     url: 'http://127.0.0.1:8080/',
            //     data: {},
            //     type: 'GET',
            //     dataType: 'json',
            //     success: function (res) {
            //         console.log(res);
            //         var end = Date.now();
            //         console.log(end - start);
            //     },  
            //     error: function () {
            //         console.log("error")
            //     }
            // })

            $.ajax({
                url: 'http://127.0.0.1:8080/',
                data: {},
                type: 'GET',
                dataType: 'json',
            }).done(function(res){
                console.log(res);
                var end = Date.now();
                console.log(end - start);
            }).fail(function(){
                console.log("error");
            })
        })

        </script>
	</body>
</html>